<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if msg %}
        {{msg}}
    {% endif %}
    <form action="{% url 'index' %}" method="POST" class="post-form">{% csrf_token %}<br>
        <input type="text" name="en" id="" placeholder="Enter name"><br>
        <input type="email" name="em" id="" placeholder="enter email"><br>
        <input type="text" name="mobo" id="" placeholder="enter mobile"><br>
        <input type="eid" name="eid" placeholder="Enter id"><br>
        <input type="submit" class="btn-btn primary" >
    </form>
</body>
</html>